[user]
	name = Aijaz Baig
	email = abaig1@marvell.com
[alias]
    lg1 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(    reset)%C(bold yellow)%d%C(reset)' --all
    lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d    %C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
    lg = !"git lg1"
    df = diff --ignore-space-at-eol -b -w --ignore-blank-lines
    dft = difftool --ignore-space-at-eol -b -w --ignore-blank-lines
    dfilesonly = diff --name-only
    review = !./Tools/git-review.sh
    apply = apply --reject -v --whitespace=fix
    #checkout = git checkout && git submodule init && git submodule update
    checkout = checkout && submodule init && submodule update
    #switch = git switch && git submodule init && git submodule update
    switch = switch && submodule init && submodule update
#    apply = apply --whitespace=fix
#[diff]
#	 tool = gvimdiff

[mergetool]
    prompt = false
    keepBackup = false
    keepTemporaries = false
[merge]
    tool = winmerge
[mergetool "winmerge"]
    name = WinMerge
    trustExitCode = true
#    cmd = "/c/Program\\ Files\\/WinMerge/WinMergeU.exe" -u -e -dl \"Local\" -dr \"Remote\" $LOCAL $REMOTE $MERGED    
    cmd = "/c/Program\\ Files\\/WinMerge/WinMergeU.exe" -u -e -x -wl -dl \"LOCAL\" -dm \"Merged\" -dr \"MergeFROM\" \"$LOCAL\" \"$MERGED\" \"$REMOTE\"
[diff]
    tool = winmerge
[difftool "winmerge"]
    name = WinMerge
    trustExitCode = true
#    cmd = "/c/Program\\ Files\\/WinMerge/WinMergeU.exe" -u -e -x -wl -wr -dl "Base" -dr "Mine" $LOCAL $REMOTE    
    cmd = "/c/Program\\ Files\\/WinMerge/WinMergeU.exe" -u -e -x -wl -dl $LOCAL -dr $REMOTE $LOCAL $REMOTE    
[difftool "gvimdiff"]
 #   path = "C:/Program Files (x86)/Vim/vim82/gvim.exe"
#[difftool "winmerge"]
    #cmd = "C:/Program Files/WinMerge/winmergeu.exe" -e -u -x -wl -wr -dl "base" -dr "mine" \"$LOCAL\" \"$REMOTE\"    
#    path = "C:/Program Files/WinMerge/winmergeu.exe"
[gui]
   #recentrepo = C:/Users/abaig1/Documents/Work/FEATURES/NVMe_TCP/QEDN_SYNC_WINDOWS/qedn
[gitreview]
	remote = origin
	username = Aijaz Baig
[http]
	postBuffer = 1048576000
[credential]
	helper = manager
[core]
   excludesfile = C:/Users/abaig1/.gitignore
   autocrlf=true
#   eol=lf
[credential "helperselector"]
	selected = store
[credential "https://vgitcentral.marvell.com"]
	provider = generic
