[user]
	name = Aijaz Baig
	email = abaig1@marvell.com
[alias]
    lg1 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(    reset)%C(bold yellow)%d%C(reset)' --all
    lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d    %C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
    lg = !"git lg1"
    df = diff --ignore-space-at-eol -b -w --ignore-blank-lines
    dft = difftool --ignore-space-at-eol -b -w --ignore-blank-lines
    dfilesonly = diff --name-only
    review = !./Tools/git-review.sh
    apply = apply --reject -v --whitespace=fix
    #checkout = git checkout && git submodule init && git submodule update
    checkout = checkout && submodule init && submodule update
    #switch = git switch && git submodule init && git submodule update
    switch = switch && submodule init && submodule update
    apply = apply --whitespace=fix
[diff]
	 tool = gvimdiff
[difftool "gvimdiff"]
    prompt = false
[mergetool]
    prompt = false
    keepBackup = false
    keepTemporaries = false
[merge]
    tool = gvimdiff
    conflictstyle = diff3
[gitreview]
	remote = origin
	username = Aijaz Baig
[http]
	postBuffer = 1048576000
[credential]
	helper = manager
[core]
   autocrlf=true
#   eol=lf
[credential "helperselector"]
	selected = store
